# Dependencies
node_modules
.pnpm-store

# Build
dist
.next
out
build
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo
.DS_Store

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage

# Prisma
prisma/*.db
prisma/*.db-journal

# Misc
.turbo
.cache
tmp
temp
